# Directories
node_modules/
public/
src/
/secrets
/storage
/template
/build




# Files
.env.local
error.log
site.webmanifes
.env
.DS_Store
zion.code-workspace
package-lock.json
server.js
game.html
tailwind.config.js
package.json
example.js


